* {
  box-sizing: border-box;
}

/* Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */
:root {
  --darkmode-bg: hsl(207, 26%, 17%);
  --darkmode-text: hsl(0, 0%, 100%);
  --darkmode-elements: hsl(209, 23%, 22%);
  --lightmode-bg: hsl(0, 0%, 98%);
  --lightmode-text: hsl(200, 15%, 8%);
  --lightmode-elements: hsl(0, 0%, 100%);
  --lightmode-inputs: hsl(0, 0%, 52%);
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.6;
  color: var(--lightmode-text);
  font-family: sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.dark {
  background-color: var(--darkmode-bg);
  color: var(--darkmode-text);
}

.light {
  background-color: var(--lightmode-bg);
  color: var(--lightmode-text);
}

.dark-elements {
  background-color: var(--darkmode-elements);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.dark-inputs {
  background-color: var(--darkmode-elements);
}

/* Header and Search */

header {
  display: flex;
  align-items: flex-end;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.5em 0;
}

.container {
  width: 90%;
  max-width: 90vw;
  margin: 0 auto;
}

h2 {
  padding: 0;
  margin: 0;
}

.theme {
  display: flex;
  gap: 0.2em;
  align-items: baseline;
  cursor: pointer;
}

.theme-logo {
  width: 20px;
  transform: translateY(2px);
}

.search {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 3em;
}

.search input,
.search select {
  display: inline-block;
  padding: 1em;
  border-radius: 3px;
  border: none;
  color: var(--lightmode-inputs);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.search input {
  width: 100%;
}

.search select {
  width: 55%;
}

/* Cards */

.main {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2em;
  justify-content: start;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  gap: 0em;
  background-color: rgba(255, 255, 255, 0.05);
  background-color: var(--lightmode-elements);
}

.card-dark {
  background-color: var(--darkmode-elements);
}

.card-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.card-flag {
  width: 100%;
  height: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  padding-bottom: 3em;
  padding-top: 0.5em;
}

.card-data {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.head-span {
  font-weight: bold;
}

.border,
.back {
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  line-height: 1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.border {
  padding: 0.3em 2em;
}

.back {
  padding: 0.5em 2em;
}

/* Country */
.country {
  display: grid;
  justify-items: start;
  /* align-items: start; */
  gap: 3em;
  padding-bottom: 2em;
  line-height: 2.5;
}

.country-info {
  display: grid;
  gap: 2em;
}

.border-countries {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
}

.border-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4em;
}

@media screen and (min-width: 768px) {
  .search {
    flex-direction: row;
  }
  .search input {
    width: 30%;
  }

  .search select {
    width: 15%;
  }
}
